@import "tailwindcss";
@import "./colors.css";

/* FIXME: using temporary patch until tailwindcss-animate is updated for v4 support */
/* https://github.com/Wombosvideo/tw-animate-css */
@import "tw-animate-css";

/* @plugin "tailwindcss-animate"; */

@custom-variant dark (&:is(.dark *));
/* for better intellisense DX */
@custom-variant aria-invalid (&[aria-invalid="true"]);
@custom-variant next-disabled (&:is(:has(+ .peer:disabled)));
/* @custom-variant next-has-disabled (&:is(:has(+ .peer:has(*:disabled)))); */

:root {
  /** -- GLOBALS -- */
  --size-xs: --spacing(6);
  /* --size-xs: --spacing(7); */
  --size-sm: --spacing(8);
  --size-md: --spacing(9);
  --size-lg: --spacing(10);

  --background: var(--color-white);
  --foreground: var(--color-base-950);
  --subtle-foreground: var(--color-base-700);

  --card: var(--color-white);
  --card-foreground: var(--color-base-950);

  --popover: var(--color-white);
  --popover-foreground: var(--color-base-950);

  --border: --alpha(var(--color-base-950) / 10%);
  --hover-border: --alpha(var(--color-base-950) / 20%);
  --outline: var(--color-base-600);
  --overlay: --alpha(var(--color-base-100) / 50%);

  /** -- BASE -- */
  /* FIXME: avoid conflict with "text-base" default utility */
  --base-bg: var(--color-base-500);
  --hover-base: color-mix(
    in oklab,
    var(--color-base-bg) 90%,
    var(--color-white)
  );
  --base-foreground: var(--color-white);
  --placeholder: --alpha(var(--color-base-500) / 70%);

  /* muted */
  --muted: --alpha(var(--color-base-400) / 20%);
  --hover-muted: --alpha(var(--color-base-400) / 27.5%);
  --muted-foreground: var(--color-base-500);
  --accent-foreground: var(--color-base-950);

  /* faded */
  --faded: --alpha(var(--color-base-400) / 7.5%);
  --hover-faded: --alpha(var(--color-base-400) / 15%);
  --faded-border: --alpha(var(--color-base-500) / 15%);

  /* gradient */
  --base-gradient:
    to bottom right, var(--color-base-600) 0%, var(--color-base-400) 100%;
  --hover-base-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-base-600) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-base-400) 90%, var(--color-white)) 100%;

  /* charts */
  --chart-base-1: var(--color-base-900);
  --chart-base-2: var(--color-base-700);
  --chart-base-3: var(--color-base-500);
  --chart-base-4: color-mix(
    in oklab,
    var(--color-base-300) 50%,
    var(--color-base-400)
  );
  --chart-base-5: color-mix(
    in oklab,
    var(--color-base-200) 50%,
    var(--color-base-100)
  );

  /** -- PRIMARY -- */
  --primary: var(--color-primary-600);
  --hover-primary: color-mix(
    in oklab,
    var(--color-primary) 90%,
    var(--color-white)
  );
  --primary-foreground: var(--color-white);
  --primary-placeholder: --alpha(var(--color-primary-600) / 60%);
  --primary-popover: var(--color-primary-50);

  /* muted */
  --primary-muted: --alpha(var(--color-primary-400) / 20%);
  --hover-primary-muted: --alpha(var(--color-primary-400) / 27.5%);
  --primary-muted-foreground: var(--color-primary-600);
  --primary-accent-foreground: var(--color-primary-950);

  /* faded */
  --primary-faded: --alpha(var(--color-primary-400) / 7.5%);
  --hover-primary-faded: --alpha(var(--color-primary-400) / 15%);
  --primary-faded-border: --alpha(var(--color-primary-600) / 15%);

  /* tron */
  --primary-tron-gradient:
    to top, --alpha(var(--color-primary) / 17.5%) 0%,
    --alpha(var(--color-primary) / 5%) 100%;
  --hover-primary-tron-gradient:
    to bottom, --alpha(var(--color-primary) / 20%) 0%,
    --alpha(var(--color-primary) / 5%) 100%;
  --primary-tron-border: --alpha(var(--color-primary) / 30%);
  --hover-primary-tron-border: --alpha(var(--color-primary) / 50%);
  --primary-tron-blur: var(--color-purple-400);

  /* gradient */
  --primary-gradient:
    to bottom right, var(--color-primary-700) 0%, var(--color-primary-400) 100%;
  --hover-primary-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-primary-700) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-primary-400) 90%, var(--color-white)) 100%;

  /* charts */
  --chart-primary-1: var(--color-primary-900);
  --chart-primary-2: var(--color-primary-700);
  --chart-primary-3: var(--color-primary-500);
  --chart-primary-4: var(--color-primary-300);
  --chart-primary-5: color-mix(
    in oklab,
    var(--color-primary-200) 50%,
    var(--color-primary-100)
  );

  /** -- SECONDARY -- */
  --secondary: var(--color-secondary-400);
  --hover-secondary: color-mix(
    in oklab,
    var(--color-secondary) 85%,
    var(--color-white)
  );
  --secondary-foreground: var(--color-secondary-950);
  --secondary-placeholder: --alpha(var(--color-secondary-600) / 60%);
  --secondary-popover: var(--color-secondary-50);

  /* muted */
  --secondary-muted: --alpha(var(--color-secondary-300) / 25%);
  --hover-secondary-muted: --alpha(var(--color-secondary-400) / 27.5%);
  --secondary-muted-foreground: color-mix(
    in oklab,
    var(--color-secondary-600) 50%,
    var(--color-secondary-700)
  );
  --secondary-accent-foreground: var(--color-secondary-950);

  /* faded */
  --secondary-faded: --alpha(var(--color-secondary-400) / 7.5%);
  --hover-secondary-faded: --alpha(var(--color-secondary-400) / 15%);
  --secondary-faded-border: --alpha(var(--color-secondary-600) / 20%);

  /* tron */
  --secondary-tron-gradient:
    to top, --alpha(var(--color-secondary) / 17.5%) 0%,
    --alpha(var(--color-secondary) / 5%) 100%;
  --hover-secondary-tron-gradient:
    to bottom, --alpha(var(--color-secondary) / 20%) 0%,
    --alpha(var(--color-secondary) / 5%) 100%;
  --secondary-tron-border: --alpha(var(--color-secondary) / 30%);
  --hover-secondary-tron-border: --alpha(var(--color-secondary) / 50%);
  --secondary-tron-blur: var(--color-cyan-400);

  /* gradient */
  --secondary-gradient:
    to bottom right, var(--color-secondary-500) 0%,
    var(--color-secondary-300) 100%;
  --hover-secondary-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-secondary-500) 85%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-secondary-300) 85%, var(--color-white)) 100%;

  /* charts */
  --chart-secondary-1: var(--color-secondary-900);
  --chart-secondary-2: var(--color-secondary-700);
  --chart-secondary-3: var(--color-secondary-500);
  --chart-secondary-4: var(--color-secondary-300);
  --chart-secondary-5: color-mix(
    in oklab,
    var(--color-secondary-200) 50%,
    var(--color-secondary-100)
  );

  /** -- DESTRUCTIVE -- */
  --destructive: var(--color-destructive-500);
  --hover-destructive: color-mix(
    in oklab,
    var(--color-destructive) 90%,
    var(--color-white)
  );
  --destructive-foreground: var(--color-white);
  --destructive-placeholder: --alpha(var(--color-destructive-500) / 60%);
  --destructive-popover: var(--color-destructive-50);

  /* muted */
  --destructive-muted: --alpha(var(--color-destructive-400) / 20%);
  --hover-destructive-muted: --alpha(var(--color-destructive-400) / 27.5%);
  --destructive-muted-foreground: var(--color-destructive-600);
  --destructive-accent-foreground: var(--color-destructive-950);

  /* faded */
  --destructive-faded: --alpha(var(--color-destructive-400) / 7.5%);
  --hover-destructive-faded: --alpha(var(--color-destructive-400) / 15%);
  --destructive-faded-border: --alpha(var(--color-destructive-600) / 12.5%);

  /* tron */
  --destructive-tron-gradient:
    to top, --alpha(var(--color-destructive) / 17.5%) 0%,
    --alpha(var(--color-destructive) / 5%) 100%;
  --hover-destructive-tron-gradient:
    to bottom, --alpha(var(--color-destructive) / 20%) 0%,
    --alpha(var(--color-destructive) / 5%) 100%;
  --destructive-tron-border: --alpha(var(--color-destructive) / 30%);
  --hover-destructive-tron-border: --alpha(var(--color-destructive) / 50%);
  --destructive-tron-blur: var(--color-pink-400);

  /* gradient */
  --destructive-gradient:
    to bottom right, var(--color-destructive-600) 0%,
    var(--color-destructive-400) 100%;
  --hover-destructive-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-destructive-600) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-destructive-400) 90%, var(--color-white))
      100%;

  /** -- SUCCESS -- */
  --success: var(--color-success-600);
  --hover-success: color-mix(
    in oklab,
    var(--color-success) 90%,
    var(--color-white)
  );
  --success-foreground: var(--color-white);
  --success-popover: var(--color-success-50);

  /* muted */
  --success-muted: --alpha(var(--color-success-400) / 20%);
  --hover-success-muted: --alpha(var(--color-success-400) / 27.5%);
  --success-muted-foreground: var(--color-success-700);
  --success-accent-foreground: var(--color-success-950);

  /* faded */
  --success-faded: --alpha(var(--color-success-400) / 7.5%);
  --hover-success-faded: --alpha(var(--color-success-400) / 15%);
  --success-faded-border: --alpha(var(--color-success-600) / 20%);

  /* tron */
  --success-tron-gradient:
    to top, --alpha(var(--color-success) / 17.5%) 0%,
    --alpha(var(--color-success) / 5%) 100%;
  --hover-success-tron-gradient:
    to bottom, --alpha(var(--color-success) / 20%) 0%,
    --alpha(var(--color-success) / 5%) 100%;
  --success-tron-border: --alpha(var(--color-success) / 30%);
  --hover-success-tron-border: --alpha(var(--color-success) / 50%);
  --success-tron-blur: var(--color-green-400);

  /* gradient */
  --success-gradient:
    to bottom right, var(--color-success-700) 0%, var(--color-success-500) 100%;
  --hover-success-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-success-700) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-success-500) 90%, var(--color-white)) 100%;

  /** -- WARNING -- */
  --warning: var(--color-warning-400);
  --hover-warning: color-mix(
    in oklab,
    var(--color-warning) 85%,
    var(--color-white)
  );
  --warning-foreground: var(--color-warning-950);
  --warning-popover: var(--color-warning-50);

  /* muted */
  --warning-muted: --alpha(var(--color-warning-300) / 25%);
  --hover-warning-muted: --alpha(var(--color-warning-400) / 27.5%);
  --warning-muted-foreground: color-mix(
    in oklab,
    var(--color-warning-600) 50%,
    var(--color-warning-700)
  );
  --warning-accent-foreground: var(--color-warning-950);

  /* faded */
  --warning-faded: --alpha(var(--color-warning-400) / 10%);
  --hover-warning-faded: --alpha(var(--color-warning-400) / 17.5%);
  --warning-faded-border: --alpha(var(--color-warning-600) / 25%);

  /* tron */
  --warning-tron-gradient:
    to top, --alpha(var(--color-warning) / 17.5%) 0%,
    --alpha(var(--color-warning) / 5%) 100%;
  --hover-warning-tron-gradient:
    to bottom, --alpha(var(--color-warning) / 20%) 0%,
    --alpha(var(--color-warning) / 5%) 100%;
  --warning-tron-border: --alpha(var(--color-warning) / 30%);
  --hover-warning-tron-border: --alpha(var(--color-warning) / 50%);
  --warning-tron-blur: var(--color-yellow-300);

  /* gradient */
  --warning-gradient:
    to bottom right, var(--color-warning-500) 0%, var(--color-warning-300) 100%;
  --hover-warning-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-warning-500) 85%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-warning-300) 85%, var(--color-white)) 100%;
}

.dark {
  /** -- GLOBALS -- */
  --background: var(--color-base-950);
  --foreground: var(--color-base-50);
  --subtle-foreground: var(--color-base-300);

  --card: color-mix(in oklab, var(--color-base-900) 50%, var(--color-base-950));
  --card-foreground: var(--color-base-50);

  --popover: color-mix(
    in oklab,
    var(--color-base-900) 50%,
    var(--color-base-950)
  );
  --popover-foreground: var(--color-base-50);

  --border: --alpha(var(--color-white) / 12.5%);
  --hover-border: --alpha(var(--color-white) / 20%);
  --input: var(--color-zinc-800);
  --outline: var(--color-base-300);
  --overlay: --alpha(var(--color-black) / 50%);

  /** -- BASE -- */
  --base-bg: var(--color-base-500);
  --hover-base: color-mix(
    in oklab,
    var(--color-base-bg) 90%,
    var(--color-white)
  );
  --base-foreground: var(--color-white);
  --placeholder: --alpha(var(--color-base-400) / 60%);

  /* muted */
  --muted: --alpha(var(--color-base-500) / 20%);
  --hover-muted: --alpha(var(--color-base-500) / 27.5%);
  --muted-foreground: var(--color-base-400);
  --accent-foreground: var(--color-base-50);

  /* faded */
  --faded: --alpha(var(--color-base-500) / 10%);
  --hover-faded: --alpha(var(--color-base-500) / 17.5%);
  --faded-border: --alpha(var(--color-base-400) / 15%);

  /* gradient */
  --base-gradient:
    to bottom right, var(--color-base-600) 0%, var(--color-base-400) 100%;
  --hover-base-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-base-600) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-base-400) 90%, var(--color-white)) 100%;

  /* charts */
  --chart-base-1: color-mix(
    in oklab,
    var(--color-base-100) 50%,
    var(--color-base-200)
  );
  --chart-base-2: color-mix(
    in oklab,
    var(--color-base-300) 50%,
    var(--color-base-400)
  );
  --chart-base-3: var(--color-base-500);
  --chart-base-4: var(--color-base-700);
  --chart-base-5: var(--color-base-800);

  /** -- PRIMARY -- */
  --primary: var(--color-primary-500);
  --hover-primary: color-mix(
    in oklab,
    var(--color-primary) 90%,
    var(--color-white)
  );
  --primary-foreground: var(--color-white);
  --primary-placeholder: --alpha(var(--color-primary-300) / 60%);
  --primary-popover: color-mix(
    in oklab,
    var(--color-primary-950) 50%,
    var(--color-base-950)
  );

  /* muted */
  --primary-muted: --alpha(var(--color-primary-600) / 25%);
  --hover-primary-muted: --alpha(var(--color-primary-600) / 32.5%);
  --primary-muted-foreground: color-mix(
    in oklab,
    var(--color-primary-200) 50%,
    var(--color-primary-300)
  );
  --primary-accent-foreground: var(--color-primary-50);

  /* faded */
  --primary-faded: --alpha(var(--color-primary-600) / 12.5%);
  --hover-primary-faded: --alpha(var(--color-primary-600) / 20%);
  --primary-faded-border: --alpha(var(--color-primary-500) / 25%);

  /* tron */
  --primary-tron-gradient:
    to top, --alpha(var(--color-primary) / 17.5%) 0%,
    --alpha(var(--color-primary) / 5%) 100%;
  --hover-primary-tron-gradient:
    to bottom, --alpha(var(--color-primary) / 20%) 0%,
    --alpha(var(--color-primary) / 5%) 100%;
  --primary-tron-border: --alpha(var(--color-primary) / 30%);
  --hover-primary-tron-border: --alpha(var(--color-primary) / 50%);
  --primary-tron-blur: var(--color-purple-400);

  /* gradient */
  --primary-gradient:
    to bottom right, var(--color-primary-600) 0%, var(--color-primary-400) 100%;
  --hover-primary-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-primary-600) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-primary-400) 90%, var(--color-white)) 100%;

  /* charts */
  --chart-primary-1: var(--color-primary-100);
  --chart-primary-2: var(--color-primary-300);
  --chart-primary-3: var(--color-primary-500);
  --chart-primary-4: var(--color-primary-700);
  --chart-primary-5: var(--color-primary-900);

  /** -- SECONDARY -- */
  --secondary: var(--color-secondary-400);
  --hover-secondary: color-mix(
    in oklab,
    var(--color-secondary) 85%,
    var(--color-white)
  );
  --secondary-foreground: var(--color-secondary-950);
  --secondary-placeholder: --alpha(var(--color-secondary-300) / 50%);
  --secondary-popover: color-mix(
    in oklab,
    var(--color-secondary-950) 50%,
    var(--color-base-950)
  );

  /* muted */
  --secondary-muted: --alpha(var(--color-secondary-500) / 20%);
  --hover-secondary-muted: --alpha(var(--color-secondary-500) / 25%);
  --secondary-muted-foreground: var(--color-secondary-300);
  --secondary-accent-foreground: var(--color-secondary-50);

  /* faded */
  --secondary-faded: --alpha(var(--color-secondary-500) / 10%);
  --hover-secondary-faded: --alpha(var(--color-secondary-500) / 15%);
  --secondary-faded-border: --alpha(var(--color-secondary-500) / 20%);

  /* tron */
  --secondary-tron-gradient:
    to top, --alpha(var(--color-secondary) / 17.5%) 0%,
    --alpha(var(--color-secondary) / 5%) 100%;
  --hover-secondary-tron-gradient:
    to bottom, --alpha(var(--color-secondary) / 20%) 0%,
    --alpha(var(--color-secondary) / 5%) 100%;
  --secondary-tron-border: --alpha(var(--color-secondary) / 30%);
  --hover-secondary-tron-border: --alpha(var(--color-secondary) / 50%);
  --secondary-tron-blur: var(--color-cyan-400);

  /* gradient */
  --secondary-gradient:
    to bottom right, var(--color-secondary-500) 0%,
    var(--color-secondary-200) 100%;
  --hover-secondary-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-secondary-500) 85%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-secondary-200) 85%, var(--color-white)) 100%;

  /* charts */
  --chart-secondary-1: var(--color-secondary-100);
  --chart-secondary-2: var(--color-secondary-300);
  --chart-secondary-3: var(--color-secondary-500);
  --chart-secondary-4: var(--color-secondary-700);
  --chart-secondary-5: var(--color-secondary-900);

  /** -- DESTRUCTIVE -- */
  --destructive: var(--color-destructive-600);
  --hover-destructive: color-mix(
    in oklab,
    var(--color-destructive) 90%,
    var(--color-white)
  );
  --destructive-foreground: var(--color-white);
  --destructive-placeholder: --alpha(var(--color-destructive-300) / 60%);
  --destructive-popover: color-mix(
    in oklab,
    var(--color-destructive-950) 50%,
    var(--color-base-950)
  );

  /* muted */
  --destructive-muted: --alpha(var(--color-destructive-600) / 25%);
  --hover-destructive-muted: --alpha(var(--color-destructive-600) / 32.5%);
  --destructive-muted-foreground: var(--color-destructive-300);
  --destructive-accent-foreground: var(--color-destructive-50);

  /* faded */
  --destructive-faded: --alpha(var(--color-destructive-600) / 12.5%);
  --hover-destructive-faded: --alpha(var(--color-destructive-600) / 20%);
  --destructive-faded-border: --alpha(var(--color-destructive-400) / 20%);

  /* tron */
  --destructive-tron-gradient:
    to top, --alpha(var(--color-destructive) / 17.5%) 0%,
    --alpha(var(--color-destructive) / 5%) 100%;
  --hover-destructive-tron-gradient:
    to bottom, --alpha(var(--color-destructive) / 20%) 0%,
    --alpha(var(--color-destructive) / 5%) 100%;
  --destructive-tron-border: --alpha(var(--color-destructive) / 30%);
  --hover-destructive-tron-border: --alpha(var(--color-destructive) / 50%);
  --destructive-tron-blur: var(--color-pink-400);

  /* gradient */
  --destructive-gradient:
    to bottom right, var(--color-destructive-800) 0%,
    var(--color-destructive-500) 100%;
  --hover-destructive-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-destructive-800) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-destructive-500) 90%, var(--color-white))
      100%;

  /** -- SUCCESS -- */
  --success: var(--color-success-600);
  --hover-success: color-mix(
    in oklab,
    var(--color-success) 90%,
    var(--color-white)
  );
  --success-foreground: var(--color-white);
  --success-popover: color-mix(
    in oklab,
    var(--color-success-950) 50%,
    var(--color-base-950)
  );

  /* muted */
  --success-muted: --alpha(var(--color-success-600) / 25%);
  --hover-success-muted: --alpha(var(--color-success-600) / 30%);
  --success-muted-foreground: var(--color-success-400);
  --success-accent-foreground: var(--color-success-50);

  /* faded */
  --success-faded: --alpha(var(--color-success-600) / 12.5%);
  --hover-success-faded: --alpha(var(--color-success-600) / 20%);
  --success-faded-border: --alpha(var(--color-success-500) / 20%);

  /* tron */
  --success-tron-gradient:
    to top, --alpha(var(--color-success) / 17.5%) 0%,
    --alpha(var(--color-success) / 5%) 100%;
  --hover-success-tron-gradient:
    to bottom, --alpha(var(--color-success) / 20%) 0%,
    --alpha(var(--color-success) / 5%) 100%;
  --success-tron-border: --alpha(var(--color-success) / 30%);
  --hover-success-tron-border: --alpha(var(--color-success) / 50%);
  --success-tron-blur: var(--color-green-400);

  /* gradient */
  --success-gradient:
    to bottom right, var(--color-success-700) 0%, var(--color-success-500) 100%;
  --hover-success-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-success-700) 90%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-success-500) 90%, var(--color-white)) 100%;

  /** -- WARNING -- */
  --warning: var(--color-warning-500);
  --hover-warning: color-mix(
    in oklab,
    var(--color-warning) 85%,
    var(--color-white)
  );
  --warning-foreground: var(--color-warning-950);
  --warning-popover: color-mix(
    in oklab,
    var(--color-warning-950) 50%,
    var(--color-base-950)
  );

  /* muted */
  --warning-muted: --alpha(var(--color-warning-600) / 22.5%);
  --hover-warning-muted: --alpha(var(--color-warning-600) / 27.5%);
  --warning-muted-foreground: var(--color-warning-500);
  --warning-accent-foreground: var(--color-warning-50);

  /* faded */
  --warning-faded: --alpha(var(--color-warning-600) / 12.5%);
  --hover-warning-faded: --alpha(var(--color-warning-600) / 17.5%);
  --warning-faded-border: --alpha(var(--color-warning-400) / 20%);

  /* tron */
  --warning-tron-gradient:
    to top, --alpha(var(--color-warning) / 17.5%) 0%,
    --alpha(var(--color-warning) / 5%) 100%;
  --hover-warning-tron-gradient:
    to bottom, --alpha(var(--color-warning) / 20%) 0%,
    --alpha(var(--color-warning) / 5%) 100%;
  --warning-tron-border: --alpha(var(--color-warning) / 30%);
  --hover-warning-tron-border: --alpha(var(--color-warning) / 50%);
  --warning-tron-blur: var(--color-yellow-300);

  /* gradient */
  --warning-gradient:
    to bottom right, var(--color-warning-600) 0%, var(--color-warning-400) 100%;
  --hover-warning-gradient:
    to bottom right,
    color-mix(in oklab, var(--color-warning-600) 85%, var(--color-white)) 0%,
    color-mix(in oklab, var(--color-warning-400) 85%, var(--color-white)) 100%;
}

@theme inline {
  /** -- PALETTES -- */
  --color-base-50: var(--color-zinc-50);
  --color-base-100: var(--color-zinc-100);
  --color-base-200: var(--color-zinc-200);
  --color-base-300: var(--color-zinc-300);
  --color-base-400: var(--color-zinc-400);
  --color-base-500: var(--color-zinc-500);
  --color-base-600: var(--color-zinc-600);
  --color-base-700: var(--color-zinc-700);
  --color-base-800: var(--color-zinc-800);
  --color-base-900: var(--color-zinc-900);
  --color-base-950: var(--color-zinc-950);

  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-950: var(--color-indigo-950);

  --color-secondary-50: var(--color-teal-50);
  --color-secondary-100: var(--color-teal-100);
  --color-secondary-200: var(--color-teal-200);
  --color-secondary-300: var(--color-teal-300);
  --color-secondary-400: var(--color-teal-400);
  --color-secondary-500: var(--color-teal-500);
  --color-secondary-600: var(--color-teal-600);
  --color-secondary-700: var(--color-teal-700);
  --color-secondary-800: var(--color-teal-800);
  --color-secondary-900: var(--color-teal-900);
  --color-secondary-950: var(--color-teal-950);

  --color-destructive-50: var(--color-red-50);
  --color-destructive-100: var(--color-red-100);
  --color-destructive-200: var(--color-red-200);
  --color-destructive-300: var(--color-red-300);
  --color-destructive-400: var(--color-red-400);
  --color-destructive-500: var(--color-red-500);
  --color-destructive-600: var(--color-red-600);
  --color-destructive-700: var(--color-red-700);
  --color-destructive-800: var(--color-red-800);
  --color-destructive-900: var(--color-red-900);
  --color-destructive-950: var(--color-red-950);

  --color-success-50: var(--color-emerald-50);
  --color-success-100: var(--color-emerald-100);
  --color-success-200: var(--color-emerald-200);
  --color-success-300: var(--color-emerald-300);
  --color-success-400: var(--color-emerald-400);
  --color-success-500: var(--color-emerald-500);
  --color-success-600: var(--color-emerald-600);
  --color-success-700: var(--color-emerald-700);
  --color-success-800: var(--color-emerald-800);
  --color-success-900: var(--color-emerald-900);
  --color-success-950: var(--color-emerald-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);

  /** -- GLOBALS -- */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-subtle-foreground: var(--subtle-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-border: var(--border);
  --color-hover-border: var(--hover-border);
  --color-outline: var(--outline);
  --color-overlay: var(--overlay);

  /** -- BASE -- */
  --color-base-bg: var(--base-bg);
  --color-hover-base: var(--hover-base);
  --color-base-foreground: var(--base-foreground);
  --color-placeholder: var(--placeholder);

  /* muted */
  --color-muted: var(--muted);
  --color-hover-muted: var(--hover-muted);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted-foreground: var(--muted-foreground);

  /* faded */
  --color-faded: var(--faded);
  --color-faded-solid: var(--faded-solid);
  --color-hover-faded: var(--hover-faded);
  --color-faded-border: var(--faded-border);

  /* charts */
  --color-chart-base-1: var(--chart-base-1);
  --color-chart-base-2: var(--chart-base-2);
  --color-chart-base-3: var(--chart-base-3);
  --color-chart-base-4: var(--chart-base-4);
  --color-chart-base-5: var(--chart-base-5);

  /** -- PRIMARY -- */
  --color-primary: var(--primary);
  --color-hover-primary: var(--hover-primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-placeholder: var(--primary-placeholder);
  --color-primary-popover: var(--primary-popover);

  /* muted */
  --color-primary-muted: var(--primary-muted);
  --color-hover-primary-muted: var(--hover-primary-muted);
  --color-primary-muted-foreground: var(--primary-muted-foreground);
  --color-primary-accent-foreground: var(--primary-accent-foreground);

  /* faded */
  --color-primary-faded: var(--primary-faded);
  --color-hover-primary-faded: var(--hover-primary-faded);
  --color-primary-faded-border: var(--primary-faded-border);

  /* tron */
  --color-primary-tron-border: var(--primary-tron-border);
  --color-hover-primary-tron-border: var(--hover-primary-tron-border);
  --color-primary-tron-blur: var(--primary-tron-blur);

  /* charts */
  --color-chart-primary-1: var(--chart-primary-1);
  --color-chart-primary-2: var(--chart-primary-2);
  --color-chart-primary-3: var(--chart-primary-3);
  --color-chart-primary-4: var(--chart-primary-4);
  --color-chart-primary-5: var(--chart-primary-5);

  /** -- SECONDARY -- */
  --color-secondary: var(--secondary);
  --color-hover-secondary: var(--hover-secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-placeholder: var(--secondary-placeholder);
  --color-secondary-popover: var(--secondary-popover);

  /* muted */
  --color-secondary-muted: var(--secondary-muted);
  --color-hover-secondary-muted: var(--hover-secondary-muted);
  --color-secondary-muted-foreground: var(--secondary-muted-foreground);
  --color-secondary-accent-foreground: var(--secondary-accent-foreground);

  /* faded */
  --color-secondary-faded: var(--secondary-faded);
  --color-hover-secondary-faded: var(--hover-secondary-faded);
  --color-secondary-faded-border: var(--secondary-faded-border);

  /* tron */
  --color-secondary-tron-border: var(--secondary-tron-border);
  --color-hover-secondary-tron-border: var(--hover-secondary-tron-border);
  --color-secondary-tron-blur: var(--secondary-tron-blur);

  /* charts */
  --color-chart-secondary-1: var(--chart-secondary-1);
  --color-chart-secondary-2: var(--chart-secondary-2);
  --color-chart-secondary-3: var(--chart-secondary-3);
  --color-chart-secondary-4: var(--chart-secondary-4);
  --color-chart-secondary-5: var(--chart-secondary-5);

  /** -- DESTRUCTIVE -- */
  --color-destructive: var(--destructive);
  --color-hover-destructive: var(--hover-destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-placeholder: var(--destructive-placeholder);
  --color-destructive-popover: var(--destructive-popover);

  /* muted */
  --color-destructive-muted: var(--destructive-muted);
  --color-hover-destructive-muted: var(--hover-destructive-muted);
  --color-destructive-muted-foreground: var(--destructive-muted-foreground);
  --color-destructive-accent-foreground: var(--destructive-accent-foreground);

  /* faded */
  --color-destructive-faded: var(--destructive-faded);
  --color-hover-destructive-faded: var(--hover-destructive-faded);
  --color-destructive-faded-border: var(--destructive-faded-border);

  /* tron */
  --color-destructive-tron-border: var(--destructive-tron-border);
  --color-hover-destructive-tron-border: var(--hover-destructive-tron-border);
  --color-destructive-tron-blur: var(--destructive-tron-blur);

  /** -- SUCCESS -- */
  --color-success: var(--success);
  --color-hover-success: var(--hover-success);
  --color-success-foreground: var(--success-foreground);
  --color-success-popover: var(--success-popover);

  /* muted */
  --color-success-muted: var(--success-muted);
  --color-hover-success-muted: var(--hover-success-muted);
  --color-success-muted-foreground: var(--success-muted-foreground);
  --color-success-accent-foreground: var(--success-accent-foreground);

  /* faded */
  --color-success-faded: var(--success-faded);
  --color-hover-success-faded: var(--hover-success-faded);
  --color-success-faded-border: var(--success-faded-border);

  /* tron */
  --color-success-tron-border: var(--success-tron-border);
  --color-hover-success-tron-border: var(--hover-success-tron-border);
  --color-success-tron-blur: var(--success-tron-blur);

  /** -- WARNING -- */
  --color-warning: var(--warning);
  --color-hover-warning: var(--hover-warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-popover: var(--warning-popover);

  /* muted */
  --color-warning-muted: var(--warning-muted);
  --color-hover-warning-muted: var(--hover-warning-muted);
  --color-warning-muted-foreground: var(--warning-muted-foreground);
  --color-warning-accent-foreground: var(--warning-accent-foreground);

  /* faded */
  --color-warning-faded: var(--warning-faded);
  --color-hover-warning-faded: var(--hover-warning-faded);
  --color-warning-faded-border: var(--warning-faded-border);

  /* tron */
  --color-warning-tron-border: var(--warning-tron-border);
  --color-hover-warning-tron-border: var(--hover-warning-tron-border);
  --color-warning-tron-blur: var(--warning-tron-blur);

  /** -- ANIMATIONS -- */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-in;
  --animate-collapsible-down: collapsible-down 0.2s ease-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --animate-skeleton-shimmer: skeleton-shimmer 2s ease infinite;
  --animate-skeleton-shimmer-reduced-motion: skeleton-shimmer 15s ease infinite;
  --animate-spinner-ease: spinner 0.9s ease infinite;
  --animate-spinner-linear: spinner 0.9s linear infinite;
  --animate-ping-sm: ping-sm 1s cubic-bezier(0, 0, 0.2, 1) infinite;

  @keyframes accordion-down {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      opacity: 1;
      height: var(--radix-accordion-content-height);
    }
    to {
      opacity: 0;
      height: 0;
    }
  }

  @keyframes collapsible-down {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
  }

  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
      opacity: 1;
    }
    to {
      height: 0;
      opacity: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes skeleton-shimmer {
    from {
      background-position: 150%;
    }
    to {
      background-position: -50%;
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes ping-sm {
    75%,
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }
}

@theme {
  --breakpoint-xs: 36rem; /* 576px */
  --blur-2xs: 2px;
}

@layer base {
  * {
    @apply border-border outline-outline;
  }
  body {
    text-rendering: optimizeLegibility;
  }

  /* preserve v3 default border color configuration */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-muted);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-muted-foreground);
    border-radius: 4px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-muted-foreground) var(--color-muted);
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
@utility touch-target {
  @media (pointer: coarse) {
    @apply relative touch-manipulation after:absolute after:top-1/2 after:left-1/2 after:h-full after:min-h-11 after:w-full after:min-w-11 after:-translate-x-1/2 after:-translate-y-1/2 after:content-[''];
  }
}

@utility container {
  @apply mx-auto w-full max-w-screen-xl px-4 md:px-6;
}

@utility py-content {
  @apply py-12 md:py-16;
}
