@import "tailwindcss";

@plugin "tailwindcss-animate";
/* TODO: use motion plugin animations when tailwind releases flattenColorPalette patch */
/* @plugin "tailwindcss-motion"; */

@custom-variant dark (&:is(.dark *));
/* for better intellisense DX */
@custom-variant aria-invalid (&[aria-invalid="true"]);

:root {
  --background: var(--color-white);
  --foreground: var(--color-base-950);

  --card: var(--color-white);
  --card-foreground: var(--color-base-950);

  --popover: var(--color-white);
  --popover-foreground: var(--color-base-950);

  --accent: color-mix(
    in oklab,
    var(--color-base-200) 60%,
    var(--color-base-100)
  );
  --accent-foreground: var(--color-base-950);

  --muted: var(--color-base-100);
  --muted-foreground: var(--color-base-500);
  --faded: var(--color-base-50);
  --border-faded: color-mix(in oklab, var(--color-base-500) 10%, transparent);

  --border: var(--color-base-200);
  /* --border: color-mix(in oklab, var(--color-base-950) 10%, transparent); */
  --border-hover: var(--color-base-300);
  --input: var(--color-base-200);

  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-white);
  --primary-accent-foreground: var(--color-primary-900);
  --primary-muted: var(--color-primary-100);
  --primary-muted-foreground: var(--color-primary-700);
  --primary-muted-content: var(--color-primary-500);
  --primary-faded: var(--color-primary-50);
  --border-primary-faded: color-mix(
    in oklab,
    var(--color-primary-600) 15%,
    transparent
  );

  --secondary: var(--color-secondary-400);
  --secondary-foreground: var(--color-secondary-950);
  --secondary-accent-foreground: var(--color-secondary-900);
  --secondary-muted: var(--color-secondary-100);
  --secondary-muted-foreground: var(--color-secondary-700);
  --secondary-muted-content: var(--color-secondary-500);
  --secondary-faded: var(--color-secondary-50);
  --border-secondary-faded: color-mix(
    in oklab,
    var(--color-secondary-600) 20%,
    transparent
  );

  --destructive: var(--color-destructive-500);
  --destructive-foreground: var(--color-white);
  --destructive-accent-foreground: var(--color-destructive-900);
  --destructive-muted: var(--color-destructive-100);
  --destructive-muted-foreground: var(--color-destructive-700);
  --destructive-muted-content: var(--color-destructive-500);
  --destructive-faded: var(--color-destructive-50);
  --border-destructive-faded: color-mix(
    in oklab,
    var(--color-destructive-600) 10%,
    transparent
  );

  --success: var(--color-success-600);
  --success-foreground: var(--color-white);
  --success-accent-foreground: var(--color-success-900);
  --success-muted: var(--color-success-100);
  --success-muted-foreground: var(--color-success-700);
  --success-muted-content: var(--color-success-500);
  --success-faded: var(--color-success-50);
  --border-success-faded: color-mix(
    in oklab,
    var(--color-success-600) 20%,
    transparent
  );

  --warning: var(--color-warning-400);
  --warning-foreground: var(--color-warning-950);
  --warning-accent-foreground: var(--color-warning-900);
  --warning-muted: var(--color-warning-100);
  --warning-muted-foreground: color-mix(
    in oklab,
    var(--color-warning-600) 50%,
    var(--color-warning-700)
  );
  --warning-muted-content: color-mix(
    in oklab,
    var(--color-warning-500) 80%,
    var(--color-warning-600)
  );
  --warning-faded: var(--color-warning-50);
  --border-warning-faded: color-mix(
    in oklab,
    var(--color-warning-700) 20%,
    transparent
  );

  --skeleton: var(--color-base-300);
  --skeleton-shimmer: var(--color-base-200);

  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  --sidebar-background: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);

  --radius: 8px;
}

.dark {
  --background: var(--color-base-950);
  --foreground: var(--color-base-50);

  --card: var(--color-base-950);
  --card-foreground: var(--color-base-50);

  --popover: color-mix(
    in oklab,
    var(--color-base-900) 50%,
    var(--color-base-950)
  );
  --popover-foreground: var(--color-base-50);

  --accent: color-mix(
    in oklab,
    var(--color-base-800) 60%,
    var(--color-base-900)
  );
  --accent-foreground: var(--color-base-50);

  --muted: var(--color-base-900);
  --muted-foreground: var(--color-base-400);

  --faded: color-mix(in oklab, var(--color-base-800) 30%, transparent);
  --border-faded: color-mix(in oklab, var(--color-base-500) 20%, transparent);

  --border: var(--color-base-800);
  /* --border: color-mix(in oklab, var(--color-base-50) 15%, transparent); */
  --border-hover: var(--color-base-700);
  --input: var(--color-zinc-800);

  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-white);
  --primary-accent-foreground: var(--color-primary-100);
  --primary-muted: var(--color-primary-950);
  --primary-muted-foreground: var(--color-primary-300);
  --primary-muted-content: var(--color-primary-400);
  --primary-faded: color-mix(
    in oklab,
    var(--color-primary-muted) 40%,
    transparent
  );
  --border-primary-faded: color-mix(
    in oklab,
    var(--color-primary-500) 25%,
    transparent
  );

  --secondary: var(--color-secondary-500);
  --secondary-foreground: var(--color-secondary-950);
  --secondary-accent-foreground: var(--color-secondary-100);
  --secondary-muted: var(--color-secondary-950);
  --secondary-muted-foreground: var(--color-secondary-400);
  --secondary-muted-content: var(--color-secondary-500);
  --secondary-faded: color-mix(
    in oklab,
    var(--color-secondary-muted) 40%,
    transparent
  );
  --border-secondary-faded: color-mix(
    in oklab,
    var(--color-secondary-500) 20%,
    transparent
  );

  --destructive: var(--color-destructive-600);
  --destructive-foreground: var(--color-white);
  --destructive-accent-foreground: var(--color-destructive-100);
  --destructive-muted: color-mix(
    in oklab,
    var(--color-destructive-950) 90%,
    var(--color-destructive-900)
  );
  --destructive-muted-foreground: var(--color-destructive-300);
  --destructive-muted-content: color-mix(
    in oklab,
    var(--color-destructive-300) 50%,
    var(--color-destructive-400)
  );
  --destructive-faded: color-mix(
    in oklab,
    var(--color-destructive-muted) 40%,
    transparent
  );
  --border-destructive-faded: color-mix(
    in oklab,
    var(--color-destructive-400) 20%,
    transparent
  );

  --success: var(--color-success-600);
  --success-foreground: var(--color-white);
  --success-accent-foreground: var(--color-success-100);
  --success-muted: var(--color-success-950);
  --success-muted-foreground: var(--color-success-400);
  --success-muted-content: var(--color-success-500);
  --success-faded: color-mix(
    in oklab,
    var(--color-success-muted) 40%,
    transparent
  );
  --border-success-faded: color-mix(
    in oklab,
    var(--color-success-500) 20%,
    transparent
  );

  --warning: var(--color-warning-400);
  --warning-foreground: var(--color-warning-950);
  --warning-accent-foreground: var(--color-warning-100);
  --warning-muted: var(--color-warning-950);
  --warning-muted-foreground: var(--color-warning-500);
  --warning-muted-content: var(--color-warning-500);
  --warning-faded: color-mix(
    in oklab,
    var(--color-warning-muted) 40%,
    transparent
  );
  --border-warning-faded: color-mix(
    in oklab,
    var(--color-warning-400) 20%,
    transparent
  );

  --skeleton: var(--color-base-800);
  --skeleton-shimmer: var(--color-base-700);

  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-base-50: var(--color-gray-50);
  --color-base-100: var(--color-gray-100);
  --color-base-200: var(--color-gray-200);
  --color-base-300: var(--color-gray-300);
  --color-base-400: var(--color-gray-400);
  --color-base-500: var(--color-gray-500);
  --color-base-600: var(--color-gray-600);
  --color-base-700: var(--color-gray-700);
  --color-base-800: var(--color-gray-800);
  --color-base-900: var(--color-gray-900);
  --color-base-950: var(--color-gray-950);

  --color-primary-50: var(--color-indigo-50);
  --color-primary-100: var(--color-indigo-100);
  --color-primary-200: var(--color-indigo-200);
  --color-primary-300: var(--color-indigo-300);
  --color-primary-400: var(--color-indigo-400);
  --color-primary-500: var(--color-indigo-500);
  --color-primary-600: var(--color-indigo-600);
  --color-primary-700: var(--color-indigo-700);
  --color-primary-800: var(--color-indigo-800);
  --color-primary-900: var(--color-indigo-900);
  --color-primary-950: var(--color-indigo-950);

  --color-secondary-50: var(--color-teal-50);
  --color-secondary-100: var(--color-teal-100);
  --color-secondary-200: var(--color-teal-200);
  --color-secondary-300: var(--color-teal-300);
  --color-secondary-400: var(--color-teal-400);
  --color-secondary-500: var(--color-teal-500);
  --color-secondary-600: var(--color-teal-600);
  --color-secondary-700: var(--color-teal-700);
  --color-secondary-800: var(--color-teal-800);
  --color-secondary-900: var(--color-teal-900);
  --color-secondary-950: var(--color-teal-950);

  --color-destructive-50: var(--color-red-50);
  --color-destructive-100: var(--color-red-100);
  --color-destructive-200: var(--color-red-200);
  --color-destructive-300: var(--color-red-300);
  --color-destructive-400: var(--color-red-400);
  --color-destructive-500: var(--color-red-500);
  --color-destructive-600: var(--color-red-600);
  --color-destructive-700: var(--color-red-700);
  --color-destructive-800: var(--color-red-800);
  --color-destructive-900: var(--color-red-900);
  --color-destructive-950: var(--color-red-950);

  --color-success-50: var(--color-emerald-50);
  --color-success-100: var(--color-emerald-100);
  --color-success-200: var(--color-emerald-200);
  --color-success-300: var(--color-emerald-300);
  --color-success-400: var(--color-emerald-400);
  --color-success-500: var(--color-emerald-500);
  --color-success-600: var(--color-emerald-600);
  --color-success-700: var(--color-emerald-700);
  --color-success-800: var(--color-emerald-800);
  --color-success-900: var(--color-emerald-900);
  --color-success-950: var(--color-emerald-950);

  --color-warning-50: var(--color-yellow-50);
  --color-warning-100: var(--color-yellow-100);
  --color-warning-200: var(--color-yellow-200);
  --color-warning-300: var(--color-yellow-300);
  --color-warning-400: var(--color-yellow-400);
  --color-warning-500: var(--color-yellow-500);
  --color-warning-600: var(--color-yellow-600);
  --color-warning-700: var(--color-yellow-700);
  --color-warning-800: var(--color-yellow-800);
  --color-warning-900: var(--color-yellow-900);
  --color-warning-950: var(--color-yellow-950);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-faded: var(--faded);
  --color-border-faded: var(--border-faded);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-input: var(--input);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-muted: var(--primary-muted);
  --color-primary-muted-foreground: var(--primary-muted-foreground);
  --color-primary-muted-content: var(--primary-muted-content);
  --color-primary-faded: var(--primary-faded);
  --color-border-primary-faded: var(--border-primary-faded);
  --color-primary-accent-foreground: var(--primary-accent-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-muted: var(--secondary-muted);
  --color-secondary-muted-foreground: var(--secondary-muted-foreground);
  --color-secondary-muted-content: var(--secondary-muted-content);
  --color-secondary-faded: var(--secondary-faded);
  --color-border-secondary-faded: var(--border-secondary-faded);
  --color-secondary-accent-foreground: var(--secondary-accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive-muted: var(--destructive-muted);
  --color-destructive-muted-foreground: var(--destructive-muted-foreground);
  --color-destructive-muted-content: var(--destructive-muted-content);
  --color-destructive-faded: var(--destructive-faded);
  --color-border-destructive-faded: var(--border-destructive-faded);
  --color-destructive-accent-foreground: var(--destructive-accent-foreground);

  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-success-muted: var(--success-muted);
  --color-success-muted-foreground: var(--success-muted-foreground);
  --color-success-muted-content: var(--success-muted-content);
  --color-success-faded: var(--success-faded);
  --color-border-success-faded: var(--border-success-faded);
  --color-success-accent-foreground: var(--success-accent-foreground);

  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-muted: var(--warning-muted);
  --color-warning-muted-foreground: var(--warning-muted-foreground);
  --color-warning-muted-content: var(--warning-muted-content);
  --color-warning-faded: var(--warning-faded);
  --color-border-warning-faded: var(--border-warning-faded);
  --color-warning-accent-foreground: var(--warning-accent-foreground);

  --color-skeleton: var(--skeleton);
  --color-skeleton-shimmer: var(--skeleton-shimmer);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar-background: var(--sidebar-background);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-in;
  --animate-caret-blink: caret-blink 1s ease-out infinite;
  --animate-skeleton-shimmer: skeleton-shimmer 2s ease infinite;
  --animate-spinner-ease: spinner 0.9s ease infinite;
  --animate-spinner-linear: spinner 0.9s linear infinite;

  @keyframes accordion-down {
    from {
      opacity: 0;
      height: 0;
    }
    to {
      opacity: 1;
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      opacity: 1;
      height: var(--radix-accordion-content-height);
    }
    to {
      opacity: 0;
      height: 0;
    }
  }

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }

  @keyframes skeleton-shimmer {
    from {
      background-position: 150%;
    }
    to {
      background-position: -50%;
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@theme {
  --breakpoint-xs: 576px;
}

@layer base {
  * {
    @apply border-border outline-foreground;
  }
  body {
    @apply bg-background text-sm text-foreground antialiased;
    text-rendering: optimizeLegibility;
  }

  /* preserve v3 default border color configuration */

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-border);
    border-radius: 4px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) transparent;
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility py-content {
  @apply py-12 md:py-16;
}
